<!-- <div id="test-container"></div>
  <h2 id="question-title">Ваш пол?</h2>
  <div id="answers-block">
    <label class="answer-label">
      <input  type="radio" name="answer-label" value="Мужщина" />
      <span class="radio-mark"></span>
    <span class="answer-text">Мужщина</span>
  </label>
      <label class="answer-label">
      <input  type="radio" name="answer-label"  value="Женщина" />
      <span class="radio-mark"></span>
    <span class="answer-text">Женщина</span>
  </label>
  </div>

<div class="btn-box">
<button id="next-button" disabled>ДАЛЕЕ</button>
</div>
</div> -->

<div id="test-container">
  <h2 id="question-title"></h2>
  <div id="answers-block"></div>

  <div class="btn-box">
    <button id="next-button" disabled>ДАЛЕЕ</button>
  </div>
</div>
