#popup-container {
  position: fixed;
  inset: 0px;
  padding: 15px;
  background-color: #181818;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transform: translateX(-150%);
  transition: opacity 0.8s ease-in-out, height 0.8s ease-in-out,
    transform 0.8s ease-in-out;
}

#popup-container.show {
  transform: translateX(0%);
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.8s ease-in-out, height 0.8s ease-in-out;
}
.popup {
  height: 100%;
  width: 100%;
}

#btn-popup-close {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  border: none;
  transition: all 0.3s, transform 0.6s ease;
  flex-shrink: 0;
}

.btn-popup-close-plus,
.btn-popup-close-minus {
  border-radius: 2px;
  transform-origin: center;
  width: 33px;
  height: 4px;
  background-color: #696969;
  position: absolute;
  top: 10.5px;
  right: -4.5px;
  transition: background-color 0.3s, transform 0.6s ease;
}

.btn-popup-close-plus {
  transform: rotate(45deg);
}

.btn-popup-close-minus {
  transform: rotate(-45deg);
}

#btn-popup-close:hover .btn-popup-close-plus,
#btn-popup-close:hover .btn-popup-close-minus {
  background-color: #ffc700;
}
.nav-popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
}

.popup-list-item {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 16px;
  line-height: 137%;
  text-transform: uppercase;
  color: #fff;
}
.popup-list-item:hover,
.popup-list-item:focus {
  color: #f4ce0c;
}
