.rezult-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rezult-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 18px;
}
.rezult-text {
  margin-top: 13px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
}
.rezult-text-aktsent {
  margin-top: 13px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
}
.rezult-lozung {
  margin-top: 22px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3bde7c;
}
.table-box {
  margin-top: 12px;
  border-radius: 6px;
  width: 256px;
  height: 114px;
  background: #1c2741;
  padding: 15px 12px;
}
.table-text {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 8px;
  line-height: 175%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.call-text {
  margin-top: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 273%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3bde7c;
}
.timer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3bde7c;
}

#btn-coll {
  position: relative;
  margin-top: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 290px;
  height: 92px;
  background: #eb1b00;

  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.btn-text {
  font-family: var(--font3);
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: left;
}
#person-info {
  margin-top: 10px;
  font-weight: 600;
  font-family: var(--font3);
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #3bde7c;
  text-align: left;
}

.person-info {
  margin-top: 10px;
  font-weight: 600;
  font-family: var(--font3);
  font-size: 12px;
  letter-spacing: 0.5em;
  color: #fff;
  text-align: left;
}
.rez-moon-l {
  position: absolute;
  bottom: -45px;
  left: -75px;
  rotate: -40deg;
  width: 165px;
  height: 165px;
  background-image: url('../img/lightning.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.rez-moon-r {
  position: absolute;
  rotate: -5deg;
  bottom: -95px;
  right: -127px;
  width: 175px;
  height: 175px;
  background-image: url('../img/lightning.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
